<!doctype html>
<html ng-app="smellyApp">

<head>
    <title>Smelly App</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="./app.js"></script>
</head>

<body ng-controller="mainController">
    <div class="container">
    
        <div id="reporting" class="col-sm-5">
            <ul ng-repeat="person in persons">
                <li>{{ person.firstname }} {{ person.lastname }} {{person.birthdate | date : 'dd/MM/yyyy'}}</li>
            </ul>
        </div>

        <div id="creating" class="col-sm-5">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Prénom" ng-model="person.firstname" required>Prénom</input>
                    <input type="text" class="form-control input-lg" placeholder="Nom" ng-model="person.lastname" required>Nom</input>
                    <input type="date" class="form-control input-lg" placeholder="yyyy-MM-dd" ng-model="person.birthdate" required>Date de naissance</input>
                    <!--<md-content>
                        <h4>Date picker</h4>
                        <md-datepicker ng-model="birthdate" placeholder="Date de naissance"></md-datepicker>
                    </md-content>-->
                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createPerson(person)">Créer</button>
    	        <label>{{feedbackMessage}}</label>
            </form>
        </div>
    </div>
</body>

</html>
